<%= render partial: "app_partials/header", locals: {header: "Item: #{@item.name}"} %>
<%= render partial: "app_partials/link_to_dash",
           locals: {dash_pth: dashboard_merchant_path(@merchant),
                    link_2: "Items", l2_pth: merchant_items_path(@merchant),
                    link_3: "Invoices", l3_pth: merchant_invoices_path(@merchant)} %>

<p>Description: <%= @item.description %></p>
<p>Price: <%= @item.unit_price %></p>

<%= link_to "Edit Item", edit_merchant_item_path(@item.merchant, @item), data: {turbo: false} %>