<%= "Invoice ##{@invoice.id}" %>
<%= "Status: #{@invoice.status}" %>
<%= "Created on: #{@invoice.formatted_date}" %>
<%= "Customer: #{@invoice.customer_full_name}" %>

<table id="ItemTable">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>

  <% @invoice.items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.quantity_on_invoice_item %></td>
      <td><%= item.unit_price %></td>
      <td><%= item.status_on_invoice_item %></td>
    </tr>
  <% end %>
</table>