<%= "Invoice ##{@invoice.id}" %>
<%= "Status: #{@invoice.status}" %>
<%= "Created on: #{@invoice.formatted_date}" %>
<%= "Total Revenue: $#{format('%.2f', (@invoice.total_revenue / 100.0))}" %>
<%= "Customer: #{@invoice.customer_full_name}" %>

<p>Items on this Invoice:</p>
<table id="ItemTable">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>

  <% @invoice.invoice_items.each do |invoice_item| %>
    <tr>
      <td><%= invoice_item.item.name %></td>
      <td><%= invoice_item.quantity %></td>
      <td><%= invoice_item.item.unit_price %></td>
      <td><%= invoice_item.status %></td>
    </tr>
  <% end %>
</table>