<%= "Invoice ##{@invoice.id}" %>
<%= "Status: #{@invoice.status}" %>
<%= "Created on: #{@invoice.formatted_date}" %>
<%= "Total Revenue: $#{format('%.2f', (@invoice.total_revenue / 100.0))}" %>
<%= "Customer: #{@invoice.customer_full_name}" %>

<p>Items on this Invoice:</p>
<table id="ItemTable">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>

  <% @invoice.invoice_items.each do |invoice_item| %>

    <tr>
      <td><%= invoice_item.item.name %></td>
      <td><%= invoice_item.quantity %></td>
      <td><%= "$#{format('%.2f', (invoice_item.item.unit_price / 100.0))}" %></td>
      <td>
        <%= form_with model: @invoice_item, id: "ItemStatus-#{invoice_item.item.id}", data: {turbo: false} do |f| %>
          <%= f.select :status, options_for_select(InvoiceItem.statuses, InvoiceItem.statuses[invoice_item.status].to_s) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>